.home-content {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 35rem;
    padding: 10rem 0;
    background: url('#{$bgHome}');
    background: url('#{$bgHome}');
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;

    h1 {
        font-size: 120px;
        line-height: 125px;
        margin-bottom: 3rem;
        font-weight: bolder;
        display: inline-block;
        background-color: rgba(255,255,255,0.3);
        color: $black;
        padding: 0 30px 5px;
    }
    
    p {
        font-size: 1.7rem;
    }
    a {
        @extend .btn;
        @extend .btn-primary;
        margin: 2rem 0.5rem 1rem 0.5rem;
        padding: 20px 30px;
        font-size: 1.5rem;
        background-color: #002259;
        color: $white;
    }
    .main-text {
        font-weight: bold;
        display: inline-block;
        background-color: rgba(255,255,255,0.3);
        color: $black;
        padding: 20px;
    }
}

.invisible-node {
    opacity: 0;
}

@media (min-width: 992px) {
    .home-content {
        height: 100vh;
        padding: 0;
    }
}

@media (max-width: 767px) {
    .home-content {

        h1 {
            font-size: 60px;
            line-height: 65px;
        }
        p {
            font-size: 1.4rem;
        }
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1240px;
    }
}

.mt3 {
    margin-top: 3rem;
}