.navbar-brand {
    font-family: Lato;
    font-weight: bolder;
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-brand img {
    width: 200px;
    padding: 5px 20px 5px 0;
}

.line{
    border-bottom: 2px solid;
    border-color: $primary;
}

.bg-dark {
    background-color: #002259 !important;
}